apiVersion: v1
kind: Namespace
metadata:
  name: ollama
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ollama-nfs
spec:
  storageClassName: ""
  capacity:
    storage: 250Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.88.25
    path: /mnt/data/k8s/ollama
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-pvc
  namespace: ollama
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 250Gi
  volumeMode: Filesystem
  storageClassName: ""
  volumeName: ollama-nfs
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ollama
  namespace: argocd
spec:
  project: default
  source:
    chart: ollama
    repoURL: https://otwld.github.io/ollama-helm
    targetRevision: 1.0.0
    helm:
      releaseName: ollama
      valuesObject:
        extraEnv:
          - name: OLLAMA_FLASH_ATTENTION
            value: "1"
        ingress:
          enabled: true
          className: "kong"
          hosts:
            - host: ollama.hnatekmar.xyz
              paths:
                - path: /
                  pathType: Prefix
        ollama:
          gpu:
            enabled: true
            number: 2
        persistentVolume:
          enabled: true
          existingClaim: "ollama-pvc"
          storageClass: "nfs-client"
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ollama
  syncPolicy:
    automated: # automated sync by default retries failed attempts 5 times with following delays between attempts ( 5s, 10s, 20s, 40s, 80s ); retry controlled using `retry` field.
      prune: true # Specifies if resources should be pruned during auto-syncing ( false by default ).
      selfHeal: true # Specifies if partial app sync should be executed when resources are changed only in target Kubernetes cluster and no git change detected ( false by default ).
      allowEmpty: false # Allows deleting all application resources during automatic syncing ( false by default ).
    syncOptions:
      - CreateNamespace=true
