apiVersion: v1
kind: Namespace
metadata:
  name: webui
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: webui-nfs
spec:
  storageClassName: ""
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.88.25
    path: /mnt/data/k8s/webui
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: webui-pvc
  namespace: webui
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem
  storageClassName: ""
  volumeName: webui-nfs
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webui
  namespace: argocd
spec:
  project: default
  source:
    chart: open-webui
    repoURL: https://helm.openwebui.com/
    targetRevision: 4.0.4
    helm:
      releaseName: open-webui
      valuesObject:
        pipelines:
          enabled: False
        ollama:
          enabled: False
        extraEnvVars:
          - name: OLLAMA_BASE_URL
            value: "http://ollama.ollama.svc.cluster.local:11434"
          - name: WEBUI_AUTH
            value: "False"
          - name: OLLAMA_BASE_URL
            value: http://ollama.ollama.svc.cluster.local:11434
          - name: ENABLE_OAUTH_SIGNUP
            value: "true"
          - name: OAUTH_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: webui-secret
                key: OAUTH_CLIENT_ID
          - name: OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: webui-secret
                key: OAUTH_CLIENT_SECRET
          - name: OPENID_PROVIDER_URL
            value: https://authentik.hnatekmar.xyz/application/o/webui/.well-known/openid-configuration
          - name: WEBUI_AUTH
            value: "true"
        ingress:
          host: "webui.hnatekmar.xyz"
          class: "kong"
          enabled: true
        persistence:
          enabled: true
          existingClaim: "webui-pvc"
  destination:
    server: "https://kubernetes.default.svc"
    namespace: webui
  syncPolicy:
    automated: # automated sync by default retries failed attempts 5 times with following delays between attempts ( 5s, 10s, 20s, 40s, 80s ); retry controlled using `retry` field.
      prune: true # Specifies if resources should be pruned during auto-syncing ( false by default ).
      selfHeal: true # Specifies if partial app sync should be executed when resources are changed only in target Kubernetes cluster and no git change detected ( false by default ).
      allowEmpty: false # Allows deleting all application resources during automatic syncing ( false by default ).
    syncOptions:
      - CreateNamespace=true

